﻿{% load staticfiles%}

<html>
<head>
<title> introduction </title>

</head>
 <style type="text/css">
 html{height:100%;}
 body {position:relative;margin:0; padding:0; height:100%}
 #bgbg {position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1; overflow:hidden}
 </style>
<body>
<div id="bgbg"><img src="{% static "backnothing.png" %}" alt="" width="100%" height="100%" ></div>

<table align="center" border="0" width="100%" height="100%">
	<tr>
	<td align=center><img src="{% static "title.png" %}"></td>
	</tr>
	<tr><td align="center"><h2>게임 룰 안내</h2></td></tr>
   <tr>
      <td align=center><iframe width="560" height="315" src="http://www.youtube.com/embed/_ecOIxPWMmU" frameborder="0" allowfullscreen></iframe></td>
      </tr>
	 
	  <tr>
          <td ALIGN=CENTER>
		
	   <form method = "post" action="../room">
		<input type="submit" value="Game Start!"></br>
	      </form>
	   </td>
	   </tr>
	   </table>
</body>

</html>