﻿{% load staticfiles%}
<html>
  <head>
     <title>login</title>
  </head>
  <style type="text/css">
 html{height:100%;}
 body {position:relative;margin:0; padding:0; height:100%}
 #bgbg {position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1; overflow:hidden}
 </style>
  <body> 
  <div id="bgbg"><img src="{% static "back2.png" %}" alt="" width="100%" height="100%" ></div>
  
  <table align="center" border="0" width="100%" height="100%" cellspacing="0">
  <tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr>
  <tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr>
  <tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr>
  <tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr><tr><td>　</td></tr>
  
	<tr><td align=center><h2>아이디를 입력하세요.</h2>

	 <br><form method = "post" action="../game_introduction">
	 ID: <input type="text" name="nickname" size="10">
		<input type="submit" value="로그인"></br>
	      </form>
	 
	   <tr><td>　</td></tr>
	   </table>
  </body>
</html>
