﻿{% load staticfiles%}

<html>
<head>
<title> waiting </title>

</head>
 <style type="text/css">
 html{height:100%;}
 body {position:relative;margin:0; padding:0; height:100%}
 #bgbg {position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1; overflow:hidden}
 </style>
<body>
<meta http-equiv="refresh" content="5">
<div id="bgbg"><img src="{% static "backnothing.png" %}" alt="" width="100%" height="100%" ></div>

<table align="center" border="0" width="100%" height="100%">
	<tr>
	<td align=center><img src="{% static "title.png" %}"></td>
	</tr>
	<tr><td ALIGN=CENTER>
		<H1>매칭 플레이어를 기다리고 있습니다....</H1>
	   <form method = "GET">
		<input type = "submit" value = "방 나가기" name = "exit"></br>
	    </form>
	   </td></tr>
</body>

</html>