﻿{% load staticfiles%}

<html>
<head>
<title> geniusgame </title>

</head>
<style type="text/css">
 html{height:100%;}
 body {position:relative;margin:0; padding:0; height:100%}
 #bgbg {position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1; overflow:hidden}
 </style>
<body>
<meta http-equiv="refresh" content="3">
<div id="bgbg"><img src="{% static "backnothing.png" %}" alt="" width="100%" height="100%" ></div>
<img src="{% static "win.png" %}" style="width:300px; height:300px; position:absolute; top:70%; left:50%; margin-left:-150px; margin-top:-150px; padding:0px;">

 <table width="40%" align="left" border="1">
	<tr><td align=center><img src="{% static "gamer1.png" %}">{{player.nickname}}</td></tr>
	<tr><td align=center><img src="{% static player.prev_card%}card.jpg"></td></tr>
	<tr><td align=center>보유한 칩 : {{player.chip}}</td></tr>
 </table>

 <table width="20%" height="80%" align="left" border="1">
	<tr><td align=center>배팅한 칩 : {{player.bet}}</td>
	<td align=center>배팅한 칩 : {{match_player.bet}}</td></tr>
	<tr><td colspan="2" align=center>누적 배팅 : {{room.stack}}</td>
	<tr><td colspan="2" align=center>

 </td></tr>
 </table>
 <table width="40%" align="right" border="1">
	<tr><td align=center><img src="{% static "gamer2.png" %}">{{match_player.nickname}}</td></tr>
	<tr><td align=center><img src="{% static match_player.prev_card%}card.jpg"></td></tr>
	<tr><td align=center>보유한 칩 : {{match_player.chip}}</td></tr>
 </table>
</body>

</html>